.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 531px auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 572px 28px 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 606px;
    margin-right: auto;
    margin-bottom: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 636px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-2 .u-shape-1 {
  height: 468px;
  width: 597px;
  background-image: none;
  margin: 76px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 702px;
  height: 468px;
  filter: brightness(0.8);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -532px auto 0 87px;
}

.u-section-2 .u-group-1 {
  width: 550px;
  min-height: 348px;
  background-image: none;
  height: auto;
  margin: -408px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 65px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 11px auto 0 81px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 87px;
  }

  .u-section-2 .u-image-1 {
    filter: brightness(0.65);
    margin-top: -543px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-shape-1 {
    width: 607px;
    margin-top: 240px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -642px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -266px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-shape-1 {
    width: 541px;
    margin-top: 271px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
    margin-top: -682px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -233px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-shape-1 {
    height: 590px;
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 503px;
    margin-top: -546px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-top: -410px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-nicholas-dias-2116475.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 989px;
}

.u-section-3 .u-text-1 {
  text-decoration: underline !important;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-3 .u-image-1 {
  width: 186px;
  height: 196px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  width: 253px;
  height: 99px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-image-3 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 137px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 150px;
  height: 149px;
  margin: 17px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 7px;
}

.u-section-3 .u-image-5 {
  height: 159px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-3 .u-image-6 {
  width: 253px;
  height: 142px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-image-7 {
  height: 155px;
  width: 147px;
  margin: 9px auto 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 192px;
  height: 149px;
  margin: 17px auto 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 233px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 30px 7px;
}

.u-section-3 .u-image-9 {
  height: 65px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 233px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-3 .u-image-10 {
  width: 310px;
  height: 42px;
  margin: 0 auto 0 -12px;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 233px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-image-11 {
  margin-top: 39px;
  margin-bottom: 0;
  height: 83px;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 233px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 2px 24px;
}

.u-section-3 .u-image-12 {
  width: 244px;
  height: 96px;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none double;
  font-weight: 700;
  margin: 17px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-image-1 {
    height: 178px;
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 202px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    width: 226px;
    height: 88px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-3 .u-image-3 {
    height: 107px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 202px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 255px;
  }

  .u-section-3 .u-image-5 {
    height: 123px;
    margin-top: 61px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 202px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-6 {
    width: 226px;
    height: 127px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 202px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 202px;
  }

  .u-section-3 .u-image-8 {
    width: 166px;
    height: 129px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 255px;
  }

  .u-section-3 .u-image-9 {
    height: 50px;
    margin-top: 61px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 192px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-10 {
    width: 226px;
    height: 31px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 192px;
  }

  .u-section-3 .u-image-11 {
    height: 65px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 192px;
  }

  .u-section-3 .u-image-12 {
    width: 222px;
    height: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-3 .u-text-1 {
    width: 294px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 172px;
    height: 171px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-3 .u-image-2 {
    height: 67px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 225px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 49px;
    height: 73px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 225px;
  }

  .u-section-3 .u-image-4 {
    height: auto;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 49px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 197px;
  }

  .u-section-3 .u-image-5 {
    height: 84px;
    margin-top: 12px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-3 .u-image-6 {
    height: 96px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 197px;
  }

  .u-section-3 .u-image-7 {
    height: 117px;
    width: 111px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 197px;
  }

  .u-section-3 .u-image-8 {
    width: 111px;
    height: 86px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 5px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 160px;
  }

  .u-section-3 .u-image-9 {
    height: 34px;
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 160px;
  }

  .u-section-3 .u-image-10 {
    width: 171px;
    height: 23px;
    margin-top: 26px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 160px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-image-11 {
    height: 46px;
    width: 111px;
    margin-top: 15px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 160px;
  }

  .u-section-3 .u-image-12 {
    height: auto;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4218px;
  }

  .u-section-3 .u-text-1 {
    width: 232px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-3 .u-image-2 {
    height: 141px;
    width: 386px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 224px;
    width: 312px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 342px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 237px;
    height: 236px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 311px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 194px;
    width: 313px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 296px;
  }

  .u-section-3 .u-image-6 {
    height: 206px;
    width: 454px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 280px;
    width: 259px;
    margin-top: 7px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 312px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    width: 309px;
    height: 239px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 228px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-9 {
    height: 117px;
    width: 414px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 223px;
  }

  .u-section-3 .u-image-10 {
    width: 534px;
    height: 68px;
    margin-top: 59px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 271px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-11 {
    height: 192px;
    width: 520px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-12 {
    width: 536px;
    height: 210px;
    margin-top: 83px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2684px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-3 .u-image-2 {
    height: 110px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-3 .u-image-3 {
    height: 171px;
    width: 257px;
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    height: 245px;
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 196px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 12px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-3 .u-image-6 {
    height: 154px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 196px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 144px;
  }

  .u-section-3 .u-image-9 {
    height: 91px;
    margin-top: 48px;
    width: 322px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 140px;
  }

  .u-section-3 .u-image-10 {
    width: 340px;
    height: 43px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 171px;
  }

  .u-section-3 .u-image-11 {
    height: 119px;
    width: 322px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 225px;
  }

  .u-section-3 .u-image-12 {
    height: 133px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 138px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 36px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}